#block-entity-agree-needs-agreed {
  background-color: #fef5f1;
  border: 1px solid #ed541d;
  color: #8c2e0b;
  padding: 10px 20px;
}

#block-entity-agree-needs-agreed ul {
  list-style: none;
  margin: 10px 0;
}
